@import "./fonts.css";

:root {
  --color-green: rgba(81, 136, 105, 1);
  --color-mint: rgba(118, 170, 148, 1);
  --color-light-blue: rgba(163, 199, 185, 1);
  --color-light-white: rgba(243, 243, 209, 1);
  --color-light-pink: rgba(255, 228, 217, 1);
  --color-white: rgba(0, 0, 0, 1);
  --color-black: rgba(1, 1, 1, 1);


  --container-width: 350px;
  --padding-x: 12px;

  --font-base: "Playfair", sans-serif;
  --font-accent: Georgia, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  opacity: 0;
  transition: all .3s;
}

.preloader {
  position: absolute;
  inset: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: all .3s;
}

.preloader-el {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.preloader-el {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.preloader-el {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.visible {
  opacity: 1;
}

time {
  font-feature-settings: "lnum";
}

a {
  color: var(--color-black);
  font-family: var(--font-accent);
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

.container {
  max-width: calc(var(--container-width) + var(--padding-x) * 2);
  padding-inline: var(--padding-x);
  margin-inline: auto;
}

.section {
  padding-bottom: 40px;
}

.heading {
  text-align: center;
  font-size: 46px;
  font-family: var(--font-base);
  font-weight: 400;
  color: var(--color-black);
  margin-bottom: 12px;
  line-height: 44px;
  text-transform: uppercase;
}

.heading-secondary {
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--font-accent);
  font-feature-settings: "lnum";
  letter-spacing: 3px;
}

.indent-heading {
  margin-bottom: 26px;
}

.description {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 15px;
  font-family: var(--font-accent);
  font-feature-settings: "lnum";
}

.description:last-of-type {
  margin-bottom: 40px;
}

.main {
  text-align: center;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
}

.event-item {
  position: relative;
}

.event-item .heading {
  margin: 0;
}

.event-item:not(:last-child):after {
  content: "";
  position: absolute;
  right: 50%;
  translate: -50%;
  display: block;
  width: 1px;
  height: 49px;
  background-color: var(--color-black);
}

.numeric {
  font-family: var(--font-accent);
}

.place .place-description {
  margin-bottom: 12px;
}

.place-slider {
  margin-bottom: 40px;
  max-width: 350px;
  overflow: hidden;
}

.place-slide {
  border-radius: 8px;
  min-width: 350px;
}

.slider-container {
  display: flex;
  transition: transform 0.3s ease-out;
  cursor: grab;
  margin-bottom: 8px;
}

.pagination {
  font-family: var(--font-accent);
}

.palette-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.palete-color {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.palette-item:nth-child(1) .palete-color {
  background-color: var(--color-green);
}

.palette-item:nth-child(2) .palete-color {
  background-color: var(--color-mint);
}

.palette-item:nth-child(3) .palete-color {
  background-color: var(--color-light-blue);
}

.palette-item:nth-child(4) .palete-color {
  background-color: var(--color-light-white);
}

.palette-item:nth-child(5) .palete-color {
  background-color: var(--color-light-pink);
}

.contacts-info {
  margin-bottom: 40px;
}